.main-app{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.login-page{
    border: 1px solid black;
    background-color: #f8a185;
    padding: 20px;
    margin-top: 20px;
}

.login-form {
    width: 350px;
}


.create-task-form {
    border: 1px solid black;
    background-color: rgb(200, 157, 239);
    padding: 20px;
    margin-top: 20px;
}

.task-component {
    border: 1px solid black;
    min-height: 100px;
    padding: 10px;

}

.task{
    border: 1px solid black;
    background-color: rgb(200, 157, 239);
    padding: 2px;
    margin-bottom: 5px;
    min-width: 250px;
    width: max-content;
}

